<h1>About Me</h1>
<div id="aboutMe" class="container">
	<img src="{{profilePic}}">
	<p>
		My name is {{myName}} and I am a student at the University of Washington studying Informatics with a focus in Data Science and Business Administration with a focus in Supply Chain Management. Along with pursuing a double degree I also work at the Foster School of Business as a Student Lead Tech Support Consultant and I intern with the social media team at UW Athletics. If you would like to contact me, feel free to contact me through LinkedIn or Twitter! Go Dawgs! 
		<br>
		<a class="btn btn-primary" href="https://www.linkedin.com/in/mshigenaka" target="_blank">LinkedIn</a>
		<a class="btn btn-primary" href="https://twitter.com/MasonShigenaka" target="_blank">Twitter</a>
	</p>
</div>
<center>
	<a class="btn btn-success"href="{{resume}}" download>Resume</a>
</center>